@font-face {
    font-family: 'RubikMonoOne';
    src: url('/personal/fonts/rubik_mono_one_regular.ttf')
}

@font-face {
    font-family: 'Nunito';
    src: url('/personal/fonts/nunito_regular.ttf')
}